<div class="container">
  <div class="card">
    <img class="card-img-top" src={{collegue.imageUrl}} alt="Card image cap">
    <div class="card-body">
      <h4 class="text-center">{{collegue.nom}}</h4>
      <h4 class="text-center">{{collegue.score}}</h4>
    </div>
    <div class="row" >
      <div class="col-md-6 padding-0 text-center">
        <a class="btn btn-outline-primary btn-lg btn-block" href="#" (click)="jaime()">J'aime </a>
      </div>
      <div class="col-md-6 padding-0 text-center">
        <a class="btn btn-outline-danger btn-lg btn-block" href="#" (click)="jedeteste()">Je déteste </a>
      </div>
    </div>
    <br>
  </div>
</div>
