<div class="container">
  <div class="container" style="background: #e4e3e6">
  <br>
      <span class="{{statusClass}} float-right">{{status}}</span>
      <h1>
        Top Collègues
      </h1>
    <h5>Les meilleurs collègues du moment </h5>
    <form *ngIf="afficherForm()" >
      <div class="form-group row">
        <label for="pseudo">Pseudo</label>
        <div class="col-sm-10">
          <input type="text" id="pseudo" placeholder="pseudo" #pseudo>
        </div>
      </div>
      <div class="form-group row">
        <label for="imgUrl">URL image</label>
        <div class="col-sm-10">
          <input type="text" id="imgUrl" placeholder="URL image" #imageUrl>
        </div>
      </div>
      <button (click)="add(pseudo, imageUrl)" class="btn btn-primary" [disabled]="disable" >Ajouter un nouveau collègue</button>
    </form>
    <br>
  </div>
  <br>
  <ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert>
  <ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert>

  <app-votre-dernier-avis></app-votre-dernier-avis>
  <div *ngIf="afficherForm()">
    <nav  class="nav nav-pills flex-column flex-sm-row" >
      <a class="flex-sm-fill text-sm-center nav-link " routerLink="/classique" routerLinkActive="active">Classique</a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="/tableau"  routerLinkActive="active">Tableau</a>
      <a class="flex-sm-fill text-sm-center nav-link" routerLink="/caroussel"  routerLinkActive="active">caroussel</a>
    </nav>
  </div>

  <hr>
<div class="row">
  <div class="col col-8">
    <router-outlet></router-outlet>
  </div>
  <div class="col col-4">
    <app-historique></app-historique>
  </div>
</div>

<app-votre-dernier-avis></app-votre-dernier-avis>
</div>
