<div class="container">
  <ngb-carousel >
    <div *ngFor="let col of collegues">
      <ng-template ngbSlide>
        <img class = "container justify-content-center"src={{col.imageUrl}} alt="Random first slide">
        <div class="carousel-caption">
          <h3 style="color:#000000;">{{col.nom}}</h3>
          <p style="color:#000000;">{{col.score}}</p>
          <app-boutons [collegue]="col" [outline]="false"></app-boutons>
        </div>
      </ng-template>
    </div>
  </ngb-carousel>
</div>
